SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_REPLACE_ME
SUPABASE_SERVICE_ROLE_KEY=SET_AS_A_SUPABASE_FUNCTION_SECRET_ONLY
TURNSTILE_SITE_KEY=PUBLIC_SITE_KEY
TURNSTILE_SECRET_KEY=CONFIGURE_IN_SUPABASE_AUTH_DASHBOARD_ONLY
COURSE_MEDIA_TOKEN_SECRET=SET_AS_A_SUPABASE_FUNCTION_SECRET_ONLY
COURSE_ID=northern-hardwoods-mixedwoods-dendrology-silvics-intensive
COURSE_ALLOCATION_VERSION=2.0.0
COURSE_REVIEWER_EMAILS=YOUR_INSTRUCTOR_EMAIL
ALLOWED_ORIGIN=https://cochetopa.co
RESEND_API_KEY=SET_AS_A_SUPABASE_FUNCTION_SECRET_ONLY
COURSE_EMAIL_FROM=Cochetopa Forestry Course <course@cochetopa.co>
COURSE_CRON_SECRET=SET_AS_A_SUPABASE_FUNCTION_SECRET_ONLY
