<section class="container mx-auto py-16">
  <h1 class="text-4xl font-bold mb-6">Weather Links</h1>
  <ul class="list-disc list-inside space-y-2">
    <li><a href="https://weather.cod.edu/forecast/" target="_blank">Colorado State University Forecast</a></li>
    <li><a href="https://weather.uwyo.edu/upperair/sounding_legacy.html" target="_blank">UWYO Upper-Air Soundings</a></li>
    <li><a href="https://www.reddit.com/r/meteorology/comments/z5esp9/i_am_building_a_free_opensource_3d_radar_viewer/" target="_blank">r/meteorology 3D Radar Viewer</a></li>
    <li><a href="https://schumacher.atmos.colostate.edu/hilla/csu_mlp/index.php" target="_blank">CSU MLP Sounding Plotter</a></li>
    <li><a href="https://www.cpc.ncep.noaa.gov/" target="_blank">NOAA Climate Prediction Center</a></li>
  </ul>
</section>
