---
layout: default
title: Hobby Links
permalink: /hobby-links/
nav: true
---


<section class="container mx-auto py-16">
  <h1 class="text-4xl font-bold mb-6">{{ page.title }}</h1>

  <details open class="mb-8 border rounded p-4">
    <summary class="cursor-pointer font-semibold text-2xl">
      Weather Links
    </summary>
    <ul class="list-disc pl-6 mt-4 space-y-2">
      <li>
        <a href="https://weather.cod.edu/forecast/" target="_blank" rel="noopener">
          CSU Forecast
        </a>
      </li>
      <li>
        <a href="https://weather.uwyo.edu/upperair/sounding_legacy.html" target="_blank" rel="noopener">
          UWYO Upper-Air Soundings
        </a>
      </li>
      <li>
        <a href="https://www.reddit.com/r/meteorology/comments/z5esp9/i_am_building_a_free_opensource_3d_radar_viewer/" target="_blank" rel="noopener">
          Reddit: 3D Radar Viewer
        </a>
      </li>
      <li>
        <a href="https://schumacher.atmos.colostate.edu/hilla/csu_mlp/index.php" target="_blank" rel="noopener">
          CSU MLP Sounding Plotter
        </a>
      </li>
      <li>
        <a href="https://www.cpc.ncep.noaa.gov/" target="_blank" rel="noopener">
          NOAA Climate Prediction Center
        </a>
      </li>
    </ul>
  </details>
</section>
